
/*****************globals*************/

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    padding: 3em;
    line-height: 1.5em; 
  }
  .fa-times{
    cursor: pointer;
  }
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
          }
  

            .card-action {
              position: relative;
              float: right;
              margin-top: 0px;
              margin-right: 30px;
              z-index: 4;
              color: #fff;
              background: rgb(211, 108, 108);
              border-radius: 100%;
              padding: 15px 17px;
              font-size: 15px;
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
          }
      
          .card-action:hover{
         
              color: rgb(211, 108, 108);
              background: #fff;
              -webkit-animation: pulse 1.5s infinite;
          }
      
          .avl {
            font-size: medium;
            color: rgb(211, 108, 108);
            background: #fff;
        }
          .product-code{
            color: darkgrey;
            font-size: small;
            font-weight:200;
          }
  

  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; 
    }
    .price{
      font-size:40px;
      color: rgb(211, 108, 108);    }
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  

  
  .add-to-cart, .like {
    background-color:#AD8; 
    border: none;
    text-transform: UPPERCASE;
    color: #fff;
    font-weight:300px;
    width: 62%;       
     }
    .add-to-cart:hover, .like:hover {
      background-color:#AD8; 
      color: #fff; 
      -webkit-animation: pulse 1.5s infinite;

    }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  

  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
.quantity{
  width: 62%;
}
