.my-pagination /deep/ .ngx-pagination .current {
  background: rgb(226, 103, 103)
}


.custom-select {
  position: relative;
  font-family: Arial;
  padding: 3px;
  border: 1px solid rgb(226, 103, 103)
}

.btn {
  margin-left: 30px;
}
