

<h1 class="alert alert-primary rounded-pill text-center w-50 m-auto mb-3 mt-3" style="background-color: blanchedalmond;">All Orders</h1>
<!-- <a  class="btn btn-dark m-t-5 m-4" routerLink="/NewCategory/" role="button">Add New Category</a> -->
<table class="table table-bordered table-striped text-center w-75 m-auto">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>OrderDate</th>
      <th>State</th>
      <th>UserEmail</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.orderDate}}</td>
      <td *ngIf="order.state==0">Pending</td>
      <td *ngIf="order.state==1">Accepted</td>
      <td *ngIf="order.state==2">Rejected</td>
      <td>{{User.email}}</td>
 
      <!-- <td *ngFor="let info of order.orderProducts">
        <table class="table table-striped table-bordered" style="margin-top:-2%">
            <tr>
                <th>Product name</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        <tr>
            <td>{{info.product.title}}</td>
            <td>{{info.price}}</td>
            <td>{{info.amount}}</td>
        </tr>
    </table>
    </td> -->
      <td><div class="action">
         <a class="actions mb-2" routerLink="/OrderDetails/{{order.id}}"  role="button"><i class="fa fa-edit"></i></a>
       <!-- <a class="actions mb-2" routerLink="/AllOrders" (click)="Delete(user.email)" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
      </div></td>
    </tr>
  </tbody>
</table>

