

<h1 class="  text-center w-50 m-auto mb-3 mt-3" style="color:rgb(226, 103, 103); ">All Orders</h1>
<table class="table table-bordered table-striped text-center w-75 m-auto">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>OrderDate</th>
      <th>State</th>
      <th>UserEmail</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.orderDate}}</td>
        <td *ngIf="order.state==0">Pending</td>
        <td *ngIf="order.state==1">Accepted</td>
        <td *ngIf="order.state==2">Rejected</td>
      <td>{{User.email}}</td>
      <td><div class="action m-auto">
         <a class="actions mb-2" routerLink="/OrderDetails/{{order.id}}"  role="button"><i class="fa fa-info-circle"></i></a>
         <a class="actions mb-2 mx-4" role="button" (click)="open(content)"><i class="fa fa-edit" aria-hidden="true"></i></a>
         
        </div></td>
        
<ng-template #content let-modal>
  <div class="modal-headers">
    <h4 class="modal-title my-4" id="modal-basic-title" style="color:#7f4722"><span class="mx-3">Edit Order Status </span> <i
        class="fa  fa-times text-danger float-end mx-3" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </h4>
     </div>
  <hr style="width:100%;margin-left: 0%;margin-top: 0%;">
  <div class="modal-body">
    <form id="Registeration">
      <div class="form-group" class="mb-2">
        <div class="form-input"> <i class="fa fa-shopping-basket"></i> <label class="form-control">{{order.id}}</label> </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-input">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <label class="form-control">{{order.orderDate}}</label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-input">
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <label class="form-control">{{User.email}}</label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-input">
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down"></i></span><br>
          <select [(ngModel)]="Status" name="status" class=" w-25" (change)="selectChange()">
            <option  #status value="Pending">Pending</option>
            <option #status value="Accepted">Accepted</option>
            <option #status value="cancelled">Cancelled</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary text-light btn-outline-dark"
      (click)="SaveData(order.id)">Save</button>
  </div>
</ng-template>
    </tr>

  </tbody>
</table>
