

<h1 class="  text-center w-50 m-auto mb-3 mt-3" style="color:rgb(226, 103, 103); ">All Users</h1>
<!-- <a  class="btn btn-dark m-t-5 m-4" routerLink="/NewCategory/" role="button">Add New Category</a> -->
<table class="table table-bordered table-striped text-center w-75 m-auto">
  <thead>
    <tr>
      <th>Profile Image</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of AllUsers">
      <td><img class="img-circle" style="width:100px ;" src="{{user.profileImage}}"></td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td *ngIf="user.gender==0">Male</td>
      <td *ngIf="user.gender==1">Female</td>
      <td>{{user.role}}</td>
      <td><div class="action">

          <!-- <select #role [(ngModel)]="Role"  class=" w-25" [value]="user.role">
            <option value="Customer">Customer</option>
            <option value="Admin">Admin</option>
          </select> -->

        <a class="actions mb-2" routerLink="/EditUser/{{user.email}}"  role="button"><i class="fa fa-edit text-info"></i></a>
        <a class="actions mb-2" routerLink="/AllUsers" (click)="Delete(user.email)" role="button"><i class="fa fa-trash" aria-hidden="true"></i>  </a>
      </div></td>
    </tr>
  </tbody>
</table>







