<div style="padding-top: 50px;">
  <div class="container mb-5">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8 col-sm-10">
        <form class="form" name="form">
          <div class="card px-5">
            <!--<span class="circle"><i class="fa fa-check"></i></span> -->
            <h1 class="text-center">Sign Up</h1>

            <div class="form-input"> <i class="fa fa-envelope"></i> <input #email type="text" class="form-control"
                placeholder="user@example.com" [(ngModel)]="Email" name="email" required> </div>
            <span class=" rounded-pill text-center" style="color: red; border:2 white; list-style: none;"
              *ngIf="Email==''">
              <li>Email is required!</li>
            </span>

            <div class="form-input"> <i class="fa fa-user"></i> <input #username type="text" class="form-control"
                placeholder="User name" [(ngModel)]="User" name="username" required> </div>
            <span class=" rounded-pill text-center" style="color: red; border:2 white; list-style: none;"
              *ngIf="User==''">
              <li>Name is required!</li>
              <li>don't use any spaces</li>
            </span>

            <div class="form-input"> <i class="fa fa-lock"></i> <input #password type="password" class="form-control"
                [(ngModel)]="Password" name="password" placeholder="Password (e.g. Xxx.123)" required>
            </div>
            <span class=" rounded-pill text-center" style="color: red; border:2 white; list-style: none;"
              *ngIf="Password=='' || Password.length<5">
              <li>Password must have at least one non alphanumeric character, and one uppercase character('A'-'Z')</li>
            </span>
            <div class="form-input"> <i class="fa fa-lock"></i> <input #confirmPassword type="password"
                name="confirmpassword" class="form-control" [(ngModel)]="Confirmpassword" placeholder="Confirm Password"
                required>
            </div>
            <span class=" rounded-pill text-center " style="color: red; border:2 white;list-style: none;"
              *ngIf="Password!=Confirmpassword">
              <li>Confirm Password doesn't match Password</li>
            </span>

            <div class="form-input"> <i class="fa  fa-picture-o"></i> <input #profileImage type="text"
                class="form-control" placeholder="Profile Image URL"> </div>
            <div class="form-input"> <input [(ngModel)]="Gender" #gender type="radio" name="gender" value="0"> Male<br>
              <input [(ngModel)]="Gender" #gender type="radio" name="gender" value="1"> Female<br>
            </div>

            <span class=" rounded-pill text-center " style="color: red; border:2 white;list-style: none;"
              *ngIf="message!=''">
              <li>{{message}}</li>
            </span>

            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked>
              <label class="form-check-label" for="flexCheckChecked"> I agree all the statements </label>
            </div>
            <button class="btn my-4 m-auto signup" style="background-color: rgb(226, 103, 103);"
              (click)="Register(username.value,email.value,password.value,confirmPassword.value,profileImage.value,+gender.value)">Register</button>
            <div class="text-center mt-3"> <span>Or continue with these social profile</span> </div>
            <div class="d-flex justify-content-center mt-4">
              <span class="social"><i class="fa fa-google" (click)="signInWithGoogle()"></i></span>
              <span class="social"><i class="fa fa-facebook" (click)="signInWithFacebook()"></i></span>
              <!-- <span class="social"><i class="fa fa-twitter"></i></span>
              <span class="social"><i class="fa fa-linkedin"></i></span> -->
            </div>
            <div class="text-center mt-4"> <span>Already a member?</span> <a routerLinkActive="active"
                routerLink="/Login" class="text-decoration-none"> Login</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

</div>
