
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>{{'BONBON' | translate}}</h4>
          <p>{{'BONBONFOOTER' | translate}}</p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post"> <input type="email" name="email"><input type="submit" value="{{'SUBSCRIBE' | translate}}">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{'USEFULL' | translate}}</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'HOME' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'ABOUTUS' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'PRODUCTS' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'SHIPRATE' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'HELP' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{'PRODUCTS' | translate}}</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'HAIRCARE' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'BODYCARE' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'BATH' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'SOAPS' | translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'BRUSHES' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>{{'CONTACT' | translate}}</h4>
          <p><i class="fa fa-home mr-3"></i> {{'NY' | translate}}, NY 10012, US</p>
          <p><i class="fa  fa-envelope mr-3"></i> info@example.com</p>
          <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>{{'ABOUTUS' | translate}}</h3>
          <p>{{'FOOTERLINE' | translate}}:</p>
          <div class="social-links mt-3">
            <a href="" class="text-white me-3">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-3">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="text-white me-3">
              <i class="fa fa-google"></i>
            </a>
            <a href="" class="text-white me-3">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footerSection text-center pb-4">
    © 2022 {{'COPYRIGHTS' | translate}}:
    <a class="mx-2" href="https://github.com/ayaMahfouz98/BonBon_Angular_Project">{{'BONBON' | translate}}</a>
    <a class="mx-2" (click)="changeCurrLang('en')">English</a>
    <a class="mx-2" (click)="changeCurrLang('ar')">العربية</a>
    <!-- <button class="mx-2"(click)="translate.use('en')">English</button>
    <button class="mx-2"(click)="translate.use('ar')">العربية</button> -->
  </div>
</footer>





<!-- <div class="container-fluid">

  <footer class="text-center text-lg-start text-white" style="background-color:#ffede7">
    <section class="d-flex justify-content-between p-4" style="background-color: rgb(226, 103, 103)">
      <div class="me-5">
        <span>{{'FOOTERLINE' | translate}}:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-github"></i>
        </a>
      </div>

    </section>

    <section class="footerSection">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">{{'BONBON' | translate}}</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: rgb(226, 103, 103); height: 2px" />
            <p>
              {{'BONBONFOOTER' | translate}}
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">{{'PRODUCTS' | translate}}</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: rgb(226, 103, 103); height: 2px" />
            <p>
              <a href="#!" class="footerSection">{{'HAIRCARE' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'BODYCARE' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'BATH' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'SOAPS' | translate}}</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 footerSection">
            <h6 class="text-uppercase fw-bold ">{{'USEFULL' | translate}}</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: rgb(226, 103, 103); height: 2px" />
            <p>
              <a href="#!" class="footerSection">{{'ACC' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'BA' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'SHIPRATE' | translate}}</a>
            </p>
            <p>
              <a href="#!" class="footerSection">{{'HELP' | translate}}</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">{{'CONTACT' | translate}}</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color:  rgb(226, 103, 103); height: 2px" />
            <p><i class="fa fa-home mr-3"></i> {{'NY' | translate}}, NY 10012, US</p>
            <p><i class="fa  fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          </div>

        </div>

      </div>
    </section>

    <div class="footerSection text-center pb-4">
      © 2022 {{'COPYRIGHTS' | translate}}:
      <a class="mx-2" href="https://github.com/ayaMahfouz98/BonBon_Angular_Project">{{'BONBON' | translate}}</a>
      <a class="mx-2" (click)="changeCurrLang('en')">English</a>
      <a class="mx-2" (click)="changeCurrLang('ar')">العربية</a>
    </div>

  </footer>

</div> -->
