<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oleo+Script&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #f8e0d7;">
  <div class="container-fluid">
   <!-- <img src="../../../assets/icons8-candy-58.png" class="logo mr-5"/>-->
    <a class="navbar-brand ml-5" href="#">BonBon</a>
    <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="d-flex justify-content-start align-items-center">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#!">about us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">Register</a>
        </li>
      </ul>

      <form class="d-flex">
        <!-- [(ngModel)]="Pname" -->
        <!-- [value]="Pname" -->
        <input #Pname  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <input class="search p-1 btn btn-default" type="button" routerLink="/searchProduct/{{Pname.value}" value="Search" (click)="SendName(Pname.value)" >
      </form>
    </div>
  </div>
</nav>
