.navbar-brand {
    letter-spacing: 3px;
    color: rgb(226, 103, 103);
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
  }
  i{
    color: rgb(226, 103, 103);
  }

  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }
  .search {
    background-color:#AD8; 
    border: none;
    text-transform: UPPERCASE;
    color: #fff;
    font-weight:300px;
    width: 62%;      
    margin-right:15px ; 
 }

 .logo{
     width: 40px;
 }