<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title pb-4">
      <div class="mx-auto pb-2 tit" style="width: 200px;">
      <h2 >{{'ABOUTUS' | translate}}</h2>
      </div>
      <p>{{'ABOUTUS1' | translate}}.</p>
    </div>

    <div class="row">
      <div class="col-lg-5 " data-aos="fade-right">
        <img src="https://i.pinimg.com/564x/1b/1a/81/1b1a81d411765c19dcc4cfa97d7c1fe6.jpg"  class="img-fluid w-100" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{'ABOUTUS2' | translate}}.</h3>
        <p class="fst-italic">
          {{'ABOUTUS3' | translate}}.
        </p>
        <p>
          {{'ABOUTUS4' | translate}}
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
