  <div class="card-sl" routerLink="/Products/{{Product.id}}">

  <div class="card-image">
      <img class=" h-25"src={{Product?.imageUrl}}  />
  </div>
  <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
  <div class="card-heading">
      {{Product.title}}
  </div>

  <div class=" ms-3">
    <h4 class="price"><span>{{Product.price | currency:'EGP'}}</span></h4>
  </div>
  <div class="">
    <button  class="add-to-cart btn btn-default col-12" routerLink="/Products/{{Product.id}}" type="button">Buy Now!</button>
    <!-- edit should be in product detail only -->
    <!-- <button  class="add-to-cart btn btn-default col-12" routerLink="/EditeProduct/{{Product.id}}" type="button">Edit</button> -->
  </div>

</div>
