  <div class="card-sl m-3 col-6 h-25">
  <div class="card-image">
      <img class="h-25"src={{Product?.imageUrl}}  />
  </div>
  <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
  <div class="card-heading">
      {{Product.title}}
  </div>
  <div class="card-text h-5">
        {{Product.description}}
  </div>
  <div class="card-price h-25">
    <h4 class="price"><span>{{Product.price| currency:'USD'}}</span></h4>
  </div>
  <div class="action mb-2">
    <button class="add-to-cart btn btn-default m-2" type="button">Add to cart</button>
  </div>
  <div class="action">
    <a class="actions mb-2" routerLink="/Products/{{Product.id}}" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i>    </a>
    <a class="actions mb-2" routerLink="/EditeProduct/{{Product.id}}" role="button"><i class="fa fa-edit"></i></a>
    <a class="actions mb-2" routerLink="/Products/{{Product.id}}" (click)="Delete(Product.id)" role="button"><i class="fa fa-trash" aria-hidden="true"></i>    </a>
  </div>
</div>