<div class="card-sl h-100" routerLink="/Products/{{Product.id}}">

  <div class="card-image h-75">
    <img class="" src={{Product?.imageUrl}} />
  </div>

  <div class="h-25">
    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
    <div class="card-heading">
      {{Product.title}}
    </div>
    <div class="ms-3">
      <h4 class="price"><span>{{Product.price | currency:'EGP'}}</span></h4>
    </div>
    <div>
      <button class="add-to-cart btn btn-default col-12" routerLink="/Products/{{Product.id}}" type="button">
        {{'BUYNOW' | translate}}!
      </button>
      <!-- edit should be in product detail only -->
      <!-- <button  class="add-to-cart btn btn-default col-12" routerLink="/EditeProduct/{{Product.id}}" type="button">Edit</button> -->
    </div>
  </div>

</div>
