<!--
    <div class="col py-5 m-5">
            <h3 style="color:rgb(226, 103, 103)" class="text-center">Your Orders</h3>
            <br>
            <div class="container" *ngFor="let order of Orders">
              <div class="container mt-2 px-2">
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <div class="col-12 mt-4">
                    <div class="bg-light mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between hds">
                          <h5 class="mb-0">
                            Order number:<span>{{ order.id }}</span>
                          </h5>

                    <h5 class="mb-0 ms-0">
                      Status:
                      <span [ngSwitch]="order.state">
                        <div
                          class="text-warning state d-inline"
                          *ngSwitchCase="0"
                        >
                          Pending
                        </div>
                        <div
                          class="text-success state d-inline"
                          *ngSwitchCase="1"
                        >
                          Accepted
                        </div>
                        <div
                          class="text-danger state d-inline"
                          *ngSwitchCase="2"
                        >
                          Canceled
                        </div>
                      </span>
                    </h5>
                    <h5 class="mb-0 ms-0">
                      Date:<span>{{ order.orderDate | date: "longDate" }}</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>-->



<ng-template #content let-modal>
  <div class="modal-headers">
    <h4 class="modal-title my-4" id="modal-basic-title" style="color:#7f4722"><span class="mx-3">Edit Profile </span> <i
        class="fa  fa-times text-danger float-end mx-3" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> -->
    <!-- <span aria-hidden="true">&times;</span>
                  </button> -->
  </div>
  <hr style="width:100%;margin-left: 0%;margin-top: 0%;">

  <div class="modal-body">
    <form id="Registeration">
      <div class="form-group" class="mb-2">
        <div class="form-input"> <i class="fa fa-user"></i> <input type="text" name="Username" [value]="User.userName"
            #username id="user" placeholder="Username" class="form-control"> </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-input">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input class="form-control" type="email" name="email" #email id="Email" placeholder="Email"
            [value]="User.email" />
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-input">
          <span class="input-group-addon"><i class="fa  fa-picture-o"></i></span>
          <input class="form-control" type="text" name="image" #image id="image" placeholder="Profile Image URL"
            [value]="User.profileImage" />
        </div>
      </div>
      <!-- <div class="form-group mb-2">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                          <input class="form-control rounded-pill" type="text" name="password" #password id="password" placeholder="Password"/>
                      </div>
                  </div> -->

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary text-light btn-outline-dark"
      (click)="SaveData(username.value,email.value,image.value)">Save</button>
  </div>
</ng-template>

<div class="container mb-5">
  <div class="card ">

    <div class="wrapper row">
      <div class="preview col-md-4">

        <div class="preview-pic tab-content">
          <div class="card-image">
            <img alt="" src={{User?.profileImage}} class="w-75  rounded">
          </div>
        </div>

      </div>
      <div class="details col-md-6">
        <h3 class="price">{{User.userName}} </h3>

        <h6 class="product-code">User Id: {{ID}} </h6>

        <h4 class=""><span>{{User.email}}</span></h4>
        <h4 class=""><span><i class="fa fa-transgender font-weight-bold"
              style="margin-right: 10px;"></i>{{Gender}}</span></h4>

        <hr>

        <div class="action text-center">
          <button class="add-to-cart btn btn-default mb-3" type="button" (click)="open(content)">
            <i class="fa fa-edit"></i> Edit Profile
          </button>
          <button class="add-to-cart btn btn-default" type="button" routerLink="../myOrders/{{ID}}">
            <i class="fa  fa-info-circle"></i> Show Orders
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
