@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #535fe6;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

hr{
    border:#7f4722 1px solid;
    width: 100%;
    margin-left: 10%;
}
.card {
    border: none;
    padding: 20px;
    width: 120%;
    /* background-color: #1c1e21; */
    background-color: #E6B0AA;
    /* #DE7963; */
    margin-left: -10%;
    color: #fff
}

.social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.social:hover {
    background-color: #0d6efd;
    border-color: #0d6efd
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    color: black;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    background-color: #F2D7D5 ;
    text-indent: 24px;
    font-size: 15px
}

.form-control:focus {
    /* background-color: #25272a; */
    background-color:#FDEDEC ;
    box-shadow: none;
    color: black;
    border-color: #7f4722
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.modal-headers,.modal-footer{
    background-color:#E6B0AA;
}
