
<h4 class="text-center m-3">ON SALE</h4>
<hr>
<owl-carousel-o [options]="customOptions" class="col-lg-2">
    <ng-container *ngFor="let prd of AllProductsWithPormotion?.value; let i = index">
      <ng-template carouselSlide>
                <div class="card-sl m-3 " routerLink="/Products/{{prd.id}}"> 
                        <!--
                         <div class="ribbon">
                            <div class="">
                              <span class="ribbon6">{{prd.promotionPercentage}} % OFF
                            </span>
                        </div>
                        </div>
                        -->
                    <div class="card-image">
                        <img class="h-100"src={{prd?.imageUrl}}  />
                    </div>
                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                    <div class="card-heading">
                        {{ (prd.title.length > 18)? (prd.title | slice:0:18)+'..' : (prd.title) }}
                        <div>
                        <span class="product-old-price"> {{prd?.price | currency:'EGP'}}</span>
                <span class="product-price"> {{prd?.price-(prd?.price*prd?.promotionPercentage/100) | currency:'EGP'}}</span>
                </div>
                    </div>
                 <!--
                    <div class="card-text">
                        {{prd.price | currency:'USD'}}
                    </div> 
               -->
                    <a href="#" class="card-button" routerLink="/Products/{{prd.id}}">Buy now!</a>

            </div>
      </ng-template> 
    </ng-container> 
    
    </owl-carousel-o>