<!-- 
  <div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 >Edit Profile</h4>
                <br />
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="Registeration">
                    <div class="form-group"> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" type="text" name="Username" id="user" placeholder="Username"/>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="email" name="email" id="Email" placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="text" name="image" id="image" placeholder="Profile Image URL"/>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="text" name="password" id="password" placeholder="Password"/>
                    </div>
                </div>

            </form>
            <div class="form-form-group">
                <button class="btn btn-info form-control" type="submit" onclick="SaveForm()"><i class="fa fa-registeration-mark"></i>Save</button>
            </div>
            </div>
        </div>
    </div>
</div> -->

