<p>
  NewProduct works!
</p>


<!-- {
  "id": 6,
  "title": "body Loshan",
  "description": "Bain Fluidealiste Sulfate-Free Shampoo for Frizzy Hair",
  "price": 50,
  "quantity": 4,
  "categoryId": 1,
  "category": {
    "id": 1,
    "name": "Haaaaaair care",
    "productList": []
  },
  "imageUrl": "https://www.kerastase.com.eg/media/catalog/product/cache/a8a0ec143d899e0909d530f1f20bcb19/g/e/genesis-bain-nutri-fortifiant-shampoo-for-hair-fall-lifestyle_19_1.jpg",
  "isPromoted": true,
  "promotionPercentage": 20,
  "overAllRating": 3
} -->
