label {
    font-weight: 600;

}
input ,select{
    border:1px solid rgb(226, 103, 103);

}
h4{
    color: rgb(226, 103, 103);
}
.btn1 {
    background-color:rgb(226, 103, 103);
    border: none;
    text-transform: UPPERCASE;
    color: #fff;
    font-weight:300px;
    width: 62%;      
    margin-right:15px ; 
 }

.blspan{
    font-weight: bold;
    font-size: larger;
    color: rgb(226, 103, 103);

}
i{
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;
    color: rgb(226, 103, 103);
}
[disabled]{
    color: white;
    cursor:pointer;
    background-color: rgb(218, 218, 218);
    z-index: 0;
}
button{
    color: white;
    background-color: rgb(226, 103, 103);
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: medium;
    -webkit-transition: all 1s ease;
    padding: 10px;
}
.st{
    height: 42px;
    border-radius: 4px;
}
.info{
    font-weight: 300;
    font-size: small;
}
.error{
    color: red;
    font-weight: 300;
    font-size: small;
    margin-left: 20px;
}