<div style="padding-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
     <div class=" d-flex align-items-center ">
       <div class="jumbotron ">
        <form [formGroup]="addAddress" class=" m-3" >
        <div id="map"></div>
        <h4>Cash on delivery</h4>
        <div class=" form-group m-3">
            <label for="name-l">Street</label> 
            <br>
            <input #Street type="text" class="st col-md-10 me-3 " formControlName="street" required><i class="fa fa-map-marker " aria-hidden="true"></i>
        </div>
        <span class="error" clas="text-secondary ms-3" *ngIf="street?.invalid && street?.touched">Street is required.</span>
        <div class=" form-group m-3">
            <label for="address-1">City</label>
            <input #City type="text" class="form-control col-sm-9" formControlName="city"   required>
        </div>
        <span class="error" *ngIf="city?.invalid && city?.touched" >City is required.</span>

        <div class="form-group m-3">
            <label for="email">Governoment</label>
            <input #Governoment type="text" class="form-control col-9" formControlName="govern"  required>
        </div>
        <span class="error" clas="text-secondary ms-3" *ngIf="govern?.invalid && govern?.touched">Government is required.</span>
        <br>
        <span class="text-secondary info ms-3">5% is added when complete with cash on delivery.</span>
        <div >
          <a>
             <button type="submit"  [disabled]="!addAddress.valid"  (click)="EnableOrder()" type="button"class="complete ps-4 pe-4 m-3">
             <div class="d-flex ">
            <span class="text-center" >Add Address</span>
          </div>
         </button>
         <button type="submit" [disabled]="!Enable" (click)="CompleteOrder()"  type="button"class="complete ps-4 pe-4 m-3">  
         Submit Order  </button>

         <div class="error" *ngIf="!addAddress.valid" >*Please Enter correct Address.</div>

         </a>
        </div>
      </form>
       </div>
      </div>
      </div>

      <div class="col-sm-5 ms-2 mt-5">
         <div id="paypal"  class="mt-5" ></div>
         </div>
      </div>
      </div>
    </div>
