<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card-body p-4">

        <div class="row">

          <div class="col-lg-12">
            <div *ngIf="cartNotEmpty as value; else elseBlock">

              <h5 class="mb-3">
                <a routerLink="/Products" class="text-body"><i class="fa fa-arrow-left"
                  aria-hidden="true"></i>Continue shopping</a>
              </h5>
              <div class="d-flex justify-content-between align-items-center mb-4">


                <div class="col-12">

                  <div class="card mb-3 ">
                    <div class="card-body">
                      <div class="d-flex  hds">
                        <h5 class="mb-0 col-5 offset-1">Items</h5>
                        <h5 class="mb-0  d-none d-lg-block  col-4">Amount</h5>
                        <h5 class="mb-0 col-3">Price</h5>
                      </div>

                    </div>
                  </div>

                  <div class="col-lg-12  p-3" *ngFor=" let p of shoppingCartItems;let i = index;">
                    <app-ShoppingCartitem  (totalPriceOnChange)="onAmountChange($event)" [pd]="p" *ngIf="true"></app-ShoppingCartitem>
                    <div *ngIf="false">Your cart is empty</div>
                  </div>
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class=" m-auto ">
                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total:</p>
                            {{recievedOrderPrice+recievedOrderPrice*.05}}
                          </div>
                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Shipping:</p>{{recievedOrderPrice*.1}}
                          </div>
                          <a  href="/CompleteOrder" ><button type="button"class="add-to-cart col-12 ps-4 pe-4 mt-3">
                            <div class="d-flex ">
                              <span class="text-center">Complete Order</span>
                            </div>
                          </button>
                        </a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
<!--
            <ng-template #content let-modal>
              <div class="modal-headers">
                <h4 class="modal-title my-4" id="modal-basic-title" ><span class="mx-3">Cancel Order Confirmation</span> <i
                    class="fa  fa-times text-danger float-end mx-3" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
                </h4>
                 </div>
              <hr style="width:100%;margin-left: 0%;margin-top: 0%;">
              <div class="modal-body">
                <form>
                  <div class="form-group mb-2 text-center ">
                    <div class="form-input">
                      <span class="input-group-addon"><i class="fa  fa-info-circle text-primary"></i></span>
                      <label style="font-weight:bolder;">Confirm order?</label>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <div class="form-input text-center">
                      <a class="btn btn-success bg-success col-2 m-2 text-light offset-2" >Pay</a>
                      <a class="btn btn-danger bg-danger col-2 m-2 text-light" >No</a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </ng-template>
-->
            <ng-template #elseBlock>
              <div class=" m-auto ">
                <div class=" mb-4 text-center">
                  <img src="https://i.pinimg.com/564x/93/2a/ae/932aae0f4f18dd00f38cdda6f702f620.jpg"
                    class="ml-2 col-lg-8 w-25">
                  <h4 class="mb-3">Your cart is empty!</h4>
                  <h5><a href="/Products" class="text-body" ><button   class="add-to-cart col-3" >Continue shopping</button></a>
                  </h5>
                </div>
              </div>
            </ng-template>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
