<div style="padding-top: 100px;">
  <div  class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">

<form class="form" name="form">

        <div class="card px-5 py-5">
           <!-- <span class="circle"><i class="fa fa-check"></i></span> -->
           <h1 class="text-center">Reset Password</h1>

         <h5 class="mt-3">Welcome in BonBon </h5> <small class="mt-2 text-muted">Please enter your data in all
            fields</small>
          <div class="form-input"> <i class="fa fa-envelope"></i> <input [(ngModel)]="Email" #email name="email" type="text" class="form-control"
              placeholder="Email address"> </div>

              <span class=" rounded-pill text-center" style="color: red; border:2 white; list-style: none;"
              *ngIf="Email==''">
              <li>Please Enter Your Email </li>
            </span>

          <div class="form-input"> <i class="fa fa-lock"></i> <input [(ngModel)]="NewPassword" #newpassword name="password"  type="password" class="form-control"
             placeholder="New Password e.g. Xxx.123"> </div>

             <div class="form-input"> <i class="fa fa-lock"></i> <input [(ngModel)]="ConfirmPassword" #confirmpassword name="password"  type="password" class="form-control"
              placeholder="Confirm Password e.g. Xxx.123"> </div>

              <span class=" rounded-pill text-center" style="color: red; border:2 white; list-style: none;"
              *ngIf="NewPassword=='' || NewPassword.length<5">
              <li>Password must have at least one non alphanumeric character, and one uppercase character('A'-'Z')</li>
            </span>
            <span class=" rounded-pill text-center " style="color: red; border:2 white;list-style: none;" *ngIf="NewPassword!=ConfirmPassword">
              <li>Confirm Password doesn't match Password</li>
            </span>

           <button  class="btn btn-primary mt-4 signup rounded-pill m-auto" style="background-color: #DE7963;"
                (click)="ResetPassword(email.value,newpassword.value,confirmpassword.value)"       >Save</button>

       </div>
      </form>
    </div>
  </div>
</div>


