.state{
    margin-left: 130px;
}


i{
  margin: 5px;
  color: rgb(226, 103, 103);
  /* font-weight: lighter; */
}
a{
  text-decoration: none;
  color: rgb(226, 103, 103);
  font-weight: 600;

}
span{
  font-weight: 600;

}
.num{
  text-decoration: underline;
  font-weight:500;
  font-size: medium;
}