<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div>
        <h3 class="text-center" style="color: rgb(226, 103, 103);">
          Your Orders</h3>
      </div>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-3 ">
              <div class="card-body">
                <div class="d-flex justify-content-between hds">
                  <h5 class="mb-0 col-3">Order number</h5>
                  <h5 class="mb-0 col-3">Status</h5>
                  <h5 class="mb-0 ms-0 col-1">Date</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div *ngFor=" let p of userOrders;let i = index;" class="card mb-3 ">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <a routerLink="/OrderDetails" (click)="openOrderDetails(p.id)" [(ngModel)]="selectedOrderID"
                    ngDefaultControl>
                    <h5 class="mb-0  num">{{p.id}}</h5>
                  </a>
                  <div [ngSwitch]=" p.state">
                    <span class="text-warning state" *ngSwitchCase="0">Pending</span>
                    <span class="text-success state" *ngSwitchCase="1">Accepted</span>
                    <span class="text-danger state" *ngSwitchCase="2">Canceled</span>
                    <span *ngIf="p.state=='0'">
                      <span class="me-2 ms-2">|</span><a  class="my-2 mt-2" (click)="open(content)" ><i class=" fa  fa-ban text-danger" aria-hidden="true"></i> Cancel</a>
                        </span>
                  </div>
                  <h5 class="mb-0  dt">{{p.orderDate | date:'longDate'}}</h5>
                </div>

              </div>
              <ng-template #content let-modal>
                <div class="modal-headers">
                  <h4 class="modal-title my-4" id="modal-basic-title" style="color:#7f4722"><span class="mx-3">Cancel Order Confirmation</span> <i
                      class="fa  fa-times text-danger float-end mx-3" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
                  </h4>
                   </div>
                <hr style="width:100%;margin-left: 0%;margin-top: 0%;">
                <div class="modal-body">
                  <form>
                    <div class="form-group mb-2 text-center ">
                      <div class="form-input">
                        <span class="input-group-addon"><i class="fa  fa-info-circle text-primary"></i></span>
                        <label style="font-weight:bolder;">Do You Want to Cancel this order?</label>
                      </div>
                    </div>
              
                    <div class="form-group mb-2">
                      <div class="form-input">
                        <a class="btn btn-danger bg-danger text-light" (click)="modal.dismiss('Cross click')">No</a>
                        <a class="btn btn-success bg-success float-end text-light"  (click)="CancelOrder(p.id)">Yes</a>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a routerLink="/yourProfile" class="text-decoration-none float-end">Back to Profile<i class="fa fa-arrow-right"
            aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<!--
                  <h5 class="mb-0  dt">{{p.orderDate | date:'longDate'}}</h5>

                  <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to cancel this Order?</p>
                        </div>

                        <div class="modal-footer">
                          <button type="button" (click)="CancelOrder(p.id)" class="btn btn-primary">Cancel</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              -->