<div class="container">
  <div class="container mt-5 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
      <div class="col-12 mt-4">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between hds">
              <h5 class="mb-0">
                Order number:
                <a routerLink="/myOrders/{{ID}}" ngDefaultControl>
                    <span>{{ orderObj[0].id }}</span>
                </a>
              </h5>

              <h5 class="mb-0 ms-0">
                Status:
                <span [ngSwitch]="orderObj[0].state">
                  <div class="text-warning state d-inline" *ngSwitchCase="0">
                    Pending
                  </div>
                  <div class="text-success state d-inline" *ngSwitchCase="1">
                    Accepted
                  </div>
                  <div class="text-danger state d-inline" *ngSwitchCase="2">
                    Canceled
                  </div>
                </span>
              </h5>
              <h5 class="mb-0 ms-0  d-none d-sm-none d-md-block d-lg-block">
                Date:<span>{{ orderObj[0].orderDate | date: "longDate" }}</span>
              </h5>
              <h5 class="mb-0 ms-0">
                Total:<span>{{Total | currency: "USD" }}</span>
              </h5>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive table-borderless">
        <thead>
          <tr class="bg-light">
            <th scope="col" class=" d-xs-block d-sm-block d-md-block d-lg-block m-0 pb-4" width="30%">Name</th>
            <th scope="col" class="pb-4"width="25%">Product</th>
            <th scope="col" class=" d-none d-sm-none d-md-block d-lg-block mt-0 d-inline" width="15%">Amount</th>
            <th scope="col" class="pb-4" width="15%">Price</th>
            <th scope="col" class="d-none d-sm-none d-md-block d-lg-block p-0" width="20%">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of orderObj[0].orderProducts; let i = index">
            <td class="tt" scope="col" width="30%">{{ p.product.title }}</td>
            <td scope="col" width="25%">
              <img class="rounded" src="{{ p.product.imageUrl }}" width="100" />
            </td>
            <th class=" tt d-none d-sm-none d-md-block d-lg-block" scope="col" width="15%">{{ p.amount }}</th>
            <th class="tt" scope="col" width="15%">
              {{ p.price | currency: "USD" }}
            </th>
            <th class=" tt d-none d-sm-none d-md-block d-lg-block" scope="col" width="20%">
              {{ p.price * p.amount | currency: "USD" }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
