/* You can add global styles to this file, and also import other style files */
/*Our Website Buttons*/
.btn {
  height: 40px;
  color: white;
  background-color: rgb(226, 103, 103);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: large;
  -webkit-transition: all 1s ease;

}

.btn::after {
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: large;

}

.btn:hover {
  color: white;
  -webkit-transform: scale(1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.add-to-cart {

  color: white;
  background-color: rgb(226, 103, 103);
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: medium;
  padding: 10px;
}
hr{
  background-color: rgb(226, 103, 103);
}
.add-to-cart::after {
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: medium;

}
.add-to-cart:hover {
  color: white;
  -webkit-transform: scale(1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

h2,h3,h4{
  color:rgb(226, 103, 103);
}

