<div class="w-75 p-5">
  <!-- <div class="mt-2 row">
        <label class="w-25">User Name</label>
        <input #username class="form-control w-75" type="text" value="{{user.userName}}">
      </div>
      <div class="mt-2 row">
        <label class="w-25">Email</label>
        <input #email class="form-control w-75" type="text" value="{{user.email}}">
      </div>

      <div class="mt-2 row">
        <label class="w-25">Password</label>
        <input #password class="form-control w-75" type="text" value="{{user.password}}">
      </div>
      <div class="mt-2 row">
        <label class="w-25">Profile Image</label>
        <input #profileImage class="form-control w-75" type="text" value="{{user.profileImage}}">
      </div>
      <div class="mt-2 row">
        <label class="w-25">Gender</label>
      </div> -->

  <h3 class="m-5">Edit User Role:</h3>

  <div class="m-5 row">
    <input #role class="form-control w-50" type="text" [value]="Role">
    <div class="w-25" ngbDropdown role="group">
      <button type="button" class="btn btn-outline-danger" ngbDropdownToggle [(ngModel)]="Role" (click)="GetRoles()"
        style="margin-left: 20px;" id="roleBtn">{{Role}}<i class="fa fa-caret-down" aria-hidden="true"></i></button>

      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="text-muted border-0 w-100">Roles</button>
        <button ngbDropdownItem *ngFor="let role of AllRoles.roles;" value="{{role}}"
          (click)="Role=role">{{role}}</button>
        <button class="border-0 bg-light" (click)="isNewRoleClicked=!isNewRoleClicked"><i class="fa fa-plus" aria-hidden="true"></i> New Role</button>
        <input type="text" [hidden]="isNewRoleClicked" name="role" (keydown.enter)="AddRole($event)">
      </div>
    </div>
  </div>

  <div class="w-75 m-5 pt-5">
    <a routerLink="/AllUsers" class="text-decoration-none"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back To All Users</a>
    <button class="btn float-end" (click)="EditRole(role.value)">Save</button>
    <!-- <button class="btn m-3 row" style="width: 200px;" routerLink="/AllUsers">Back To All Users</button> -->
  </div>

</div>
